.OrderItem {
    padding: 8px;
    border-bottom: 1px solid gray;
}
.OrderItem:last-child {
    border-bottom: none;
}

.OrderItem h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.OrderItem .amount {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin-right: 8px;
}

.OrderItem .remove {
    text-align: right;
    font-size: 18px;
    color: #cc0a0a;
    cursor: pointer;
}

.OrderItem .price-range {
    text-align: center;
    color: gray;
}
