.OrderPrice {
    margin-top: auto;
    border-top: 1px solid black;
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.1);
}

.OrderPrice .total {
    margin-right: 8px;
}

.OrderPrice .price-range {
    font-size: 24px;
    padding-top: 0;
    color: gray;
    text-align: center;
}
