.Order {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.Order .search-results .result {
    padding: 8px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.Order .search-results .result:hover {
    background-color: #b7edb9;
}

.Order .search-results .result .name {
    flex-grow: 1;
}

.Order .search-results .result .add {
    font-size: 18px;
}

.Order .items {
    overflow: auto;
}
