.Order {
    overflow: hidden;
    position: relative;
}

.Order .items {
    overflow: auto;
    height: 100px;
}

.Order .controls {
    flex-shrink: 0;
}

.Order .search-save {
    border-bottom: 1px solid black;
    height: 44px;
}

.Order .controls .button {
    border-top: none;
    border-right: none;
}
