* {
    margin: 0;
    padding: 0;
    font-family: 'Trebutchet MS', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    transition: 0.1s;
}

.text-secondary {
    color: rgba(0, 0, 0, 0.54);
}

.text-disabled {
    color: rgba(0, 0, 0, 0.38);
}

body,
html,
#root {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: stretch;
}

button {
    background-color: white;
    height: 44px;
    max-width: 6em;
    border: 1px solid #08940d;
    line-height: 42px;
    vertical-align: middle;
    padding: 0 1em;
}

button:hover,
button:focus,
button:active {
    background-color: #b7edb9;
    cursor: pointer;
    z-index: 1;
}

button:focus,
button:active {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.24);
}

button.primary {
    border-color: white;
    background-color: #08940d;
    color: white;
    cursor: pointer;
}
button.primary:hover,
button.primary:focus,
button.primary:active {
    background-color: #3D9940;
}

button.primary[disabled] {
    background-color: #98B299;
}

table {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom-width: 0;
}

table tr {
    height: 42px;
    max-height: 42px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table td {
    padding: 0 1em;
    line-height: 42px;
    vertical-align: middle;
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
}

table tr,
table thead {
    min-height: 42px;
}

table,
table thead,
table tbody,
table tr {
    display: flex;
}

table,
table thead,
table tbody {
    flex-flow: column;
}

@media (max-width: 600px) {
    * {
        font-size: 16px;
    }
}

input {
    padding: 2px;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    flex-flow: column;
}

.grow {
    flex-grow: 1;
}

.input-inline {
    display: flex;
}

.input-inline label {
    padding: 4px;
    color: gray;
}

.primary {
    color: #08940d;
}

.primary-bg {
    background-color: #08940d;
}

.accent {
    color: #cc0a0a;
}

.accent-bg {
    background-color: #cc0a0a;
}

.hide {
    display: none;
}
