.OrderItem {
    padding: 8px;
    border-bottom: 1px solid gray;
}

.OrderItem h3 {
    font-size: 18px;
    margin-bottom: 8px;
    flex-grow: 1;
}

.OrderItem .amount {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin-right: 8px;
}

.OrderItem .close {
    text-align: right;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}