.App {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

@media (min-width: 720px) {
    .App {
        height: 90%;
        max-height: 90%;
        max-width: 40%;
        margin: 0 auto;
        margin-top: 2%;
        border: 1px solid black;
    }
}

.App .Records {
    margin-top: 1em;
}

.App .navigation {
    flex-shrink: 0;
}

.App .navigation a {
    border: none;
    border-right: 1px solid #08940d;
    border-top: 1px solid #08940d;
}

.App .navigation a.active {
    text-decoration: underline;
    background-color: #d5edd6;
}

.App .navigation a:last-child {
    border-right: none;
}

.App .navigation a img {
    margin: 4px;
}

.App .view {
    overflow: auto;
}
