.App {
    height: 100%;
    max-height: 100%;
}

@media (min-width: 720px) {
    .App {
        max-width: 40%;
        max-height: 90%;
        margin: 0 auto;
        margin-top: 2%;
        border: 1px solid black;
    }
}

.App .Records {
    margin-top: 1em;
}

.App .navigation button {
    border: none;
    border-right: 1px solid #08940d;
    border-top: 1px solid #08940d;
}

.App .navigation button:last-child {
    border-right: none;
}

.App .navigation button.primary {
    color: #08940d;
    background-color: white;
}
.App .navigation button:hover {
    color: #08940d;
    color: black;
    background-color: #b7edb9;
}
