.App {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

@media (min-width: 720px) {
    .App {
        height: 90%;
        max-height: 90%;
        max-width: 40%;
        margin: 0 auto;
        margin-top: 2%;
        border: 1px solid black;
    }
}

.App .Records {
    margin-top: 1em;
}

.App .navigation a {
    /* height: 44px;
    line-height: 42px;
    vertical-align: middle;
    padding: 0 1em;
    text-align: center; */
    border: none;
    border-right: 1px solid #08940d;
    border-top: 1px solid #08940d;
    /* text-decoration: none; */
}

.App .navigation a.active {
    text-decoration: underline;
}
.App .navigation a.active:hover {
    background-color: white;
}

.App .navigation a:last-child {
    border-right: none;
}

.App .navigation a.primary {
    /* color: #08940d;
    background-color: white; */
}
.App .navigation a:hover {
    /* color: black;
    background-color: #b7edb9; */
}

.App .navigation a img {
    max-height: 36px;
    margin: 4px;
}

.App .view {
    overflow: auto;
}
